%h5.text-center Games before 23rd April 5:00 PM GMT are anonymized and won't appear when searching with player name
%h5.text-center Please don't scrape this site. You can directly download the database <a href="games_anon.db">here</a> (8 MB) (updated on May 19) but note that the notation is in server's format.
%h6.text-center The link above will be updated with latest database every now and then.

%br
%h4.text-center Select/fill atleast one field and search
=form_tag search_games_path, :method=>"get"
#search.container
  %form.form-horizontal
    .form-group
      %label.col-sm-2 White Player
      .col-sm-10
        %input.form-control{:name=>'game[player_white]'}

    .form-group
      %label.col-sm-2 Black Player
      .col-sm-10
        %input.form-control{:name=>'game[player_black]'}

    .form-group
      %label.col-sm-2 Size
      .col-sm-10
        %select.form-control{:name=>'game[size]'}
          %option{:value=>''} Any
          %option{:value=>'3'} 3x3
          %option{:value=>'4'} 4x4
          %option{:value=>'5'} 5x5
          %option{:value=>'6'} 6x6
          %option{:value=>'7'} 7x7
          %option{:value=>'8'} 8x8

    .form-group
      %label.col-sm-2 Result
      .col-sm-10
        %select.form-control{:name=>'game[result]'}
          %option{:value=>''} Any
          %optgroup{:label=>'White Wins'}
            %option{:value=>'R-0'} R-0
            %option{:value=>'F-0'} F-0
            %option{:value=>'1-0'} 1-0
          %optgroup{:label=>'Black Wins'}
            %option{:value=>'0-R'} 0-R
            %option{:value=>'0-F'} 0-F
            %option{:value=>'0-1'} 0-1
          %optgroup{:label=>'Draw'}
            %option{:value=>'1/2-1/2'} 1/2-1/2
    .row
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-primary Search
