/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table#title {
	width: 100%;
	background-color: lightblue;
}

table#search {
	border-spacing: 2px;
}

table#search td:nth-child(1){
	font-weight: bold;
}

input[type="text"] {
    max-width: 200px;
}

#dp input[type="text"] {
    max-width: 91px;
}

table#search td:nth-child(2){
	font-style: italic;
	font-size: 80%;
	text-align: center;
}

table#results {
	margin: 10px;
	width: 80%;
	text-align: center;
}

table#results th {
	border: 1px;
	font-weight: bold;
	background-color: steelblue;
	color: white;
}

table#results tr:nth-child(even){
	background: lightblue;
}
